* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 1920px;
    font-family: 'Ubuntu', sans-serif;
}

/* HEADER  */
.header-wrapper {
    width: 1181px;
    height: 58px;
    margin: 35px auto 0px auto;
}

.main-navigation {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 379px;
    height: 24px;
}

li {
    flex-grow: 1;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #202020;
}


.main-navigation  p {
    margin-left: -610px;
    font-weight: 700px;
    width: 84px;
    height: 28px;
    font-weight: 700;
    font-size: 28px;
    line-height: 27px;
    color: #202020;
}

.main-navigation a {
    text-decoration:none;
    color:black;
    font-weight: 700;
}

.main-navigation button {
    background-color: #5528FF;
    width: 100px;
    color: white;
    border-radius: 10px;
    border:solid;
    margin: -6px 0px 0px 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Ubuntu', sans-serif;
    /* vertical-align:baseline; */
    /* vertical-align: text-top; */
}

.main-navigation img {
    width: 58px;
    height: 58px;

}

.header-discription-wrapper {
 width: 1186px;
 display: flex;
 flex-direction: column;
 margin-top:25px;
 
}


.header-discription-wrapper h1 {
margin-top: 25px;
width: 1185px;
height: 66px;
font-weight: 700;
font-size: 57px;;
line-height: 65px;
align-items: center;
margin-left: auto;
margin-right: auto;
}

.header-discription-wrapper p {
margin-top:25px;
width: 741px;
height: 196px;
line-height: 51px;
font-weight: 400;
font-size: 32px;
}

.header-discription-wrapper button {
margin-top:50px;
width: 235px;
height: 60px;
border:solid #5528FF;
border-radius: 10px;
background-color: #5528FF;
color: white;
font-family: 'Ubuntu', sans-serif;
text-decoration: none;
}
